#content .site-index {
  padding: { top: 0; bottom: 0; }
  article { padding-top: 1.2em; padding-bottom:1em; }
}
#content .site-index article{
  background: linear-gradient(to bottom right, #fff , #f9f7f3);
}

article {
  padding: 1em;

  a { @extend .force-wrap; }
  header {
    position: relative;
    padding-top: 1.2em;
    padding-bottom: .25em;
    margin-bottom: .25em;

    @media only screen and (min-width: 768px) {
      margin-bottom: .25em;
      padding-bottom: .25em;

    }
    .blog-index & { background: none; padding-bottom: 0; }
    p {
      font-size: .9em;
      margin: 0;
      color: $text-color-light;
      &.meta { @extend .sans; position: absolute; top: 0; }
    }
    time { text-transform: uppercase; }
  }
  .entry-title {
    margin: 0;
    a { text-decoration: none;
      &:hover { text-decoration: underline; }
    }
    .blog-index & {
      font-size: $h1;
      a { color: inherit; &:hover { color: $link-color-hover; } }
    }
  }

  a[rel=bookmark] { text-decoration: none; }

  h2 {
    padding-top: 0.5em;
    background: $img-border top left repeat-x;
  }
  h2:first-child, header + h2 { background: none; }

  .entry-content & h2:first-child, header + h2 { padding-top: 0; }

  &[data-linklog] {
    .entry-title {

      a { text-decoration: underline; }
    }
    .site-index & .entry-title {  }
  }

  .linklog-marker {
    color: $text-color-light;
    font-size: .8em;
    line-height: 1em;
    position: relative; top: -.15em;
  }

  > footer {
    padding-bottom: .5em;
    margin-top: .5em;
    @extend .sans;
    .site-index & { margin-top: 0em; }
    .meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

  a[rel=full-article] {
    background: lighten($main-bg, 10);
    border: 1px solid #e2c8c8;
    display: inline-block;
    padding: .4em .8em;
    margin-right: .5em;
    text-decoration: none;
    color: mix($text-color, $text-color-light);
    @extend .serif;
    @include transition(background-color .4s);
    &:hover {
      background: lighten(#EAD6B9, 14);
      text-shadow: none;
      // color: $main-bg;
    }
  }

  .site-index & + article {
    background: $img-border top left repeat-x;
  }

  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }

  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  background: $img-border top left repeat-x;
  padding: {top: 1.5em; bottom: 1.5em;}
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}
#content .spacer{
  font-size: 125%;
  line-height: 125%;
  border: 1px solid #ccc;
}
  .site-index{
    display: flex;
    flex-wrap: wrap;
    & article{
      flex-basis: 250px;
      flex-grow: 1;
      .entry-title{
        font-size: 1.3em;
      }
      p{display: none;}
      &.latest{
        p{display: block;}
        .entry-title{font-size: 2em !important;}
        flex-basis: 1800px;
        height:250px;
        background: linear-gradient(to right, lighten(#cec, 10%), lighten(#cec, 4%)) !important;
        background-color: lighten(#dfd, 4%) !important;
        footer a{
          background-color: darken(#dfd, 5%);
        }
        &:before{
          content: 'Latest';
          font-size: 12px;
          position: relative;
          text-shadow: none;
          top: -5px;
          color: darken(lime, 20%);
          font-weight: 800;

        }
      }
    }

  }
.pagination{
  flex-basis: 1800px;text-align: center;background-color: rgba(0,0,0,0);
  a{color: #444 !important;}
}
